light-theme{

    --background-primary:hsl(0, 9%, 75%);
    --background-secendery:hsl(210,100%,98%);
    
    --action-primary:hsl(212, 29%, 32%);
    --action-secendery:hsl(210,56%,94%);
    
    
    --foregrounde-primary:hsl(218,24%,18%);
    --foregrounde-secendery:hsl(216,12%,47%);
    --foregrounde-tertiary:hsl(214,22%,70%);
    
    
    --accent:hsl(229,94%,62%)
    
    }
    h1{
        font-size: 2rem;
        font-family: 'Asap', sans-serif;
        font-family: 'Roboto', sans-serif;
    }
    
    dark-theme {
        
        --background-primary:hsl(218,23%,23%);
        --background-secendery:hsl(220,26%,14%);
        
        --action-primary:hsl(216,15%,52%);
        --action-secendery:hsl(218,23%,23%);
        
        
        --foregrounde-primary:hsl(210,35%,98%);
        --foregrounde-secendery:hsl(211,25%,84%);
        --foregrounde-tertiary:hsl(214,20%,69%);
        
        
        --accent:hsl(229,94%,69%);
    }
    
    :root{
    /*color*/
    --white:hsl(0,0%,100%);
    
    /*typhogarphy*/
    --fs-base:0,85rem;
    --fs-1:1,875rem;
    --fs-2:1,5rem;
    --fs-3:1,25rem;
    --fs-4:0,875rem;
    --fs-5:0,75rem;
    /* spacing     */
    --py:5rem;
    
    }
    *,
    *::before
    *::after{
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }
    a{
    
    text-decoration: none;
    
    
    }
    li{
    
     list-style: none;   
    }
    img {
        max-width: 100%;
    }
    img,
    button{
    
        display:block;
    }
    a,
    span{
    
    display: inline-block;
    
    }
    button{
    
    font:inherit ;
    border:none;
    background:none;
    cursor: pointer;
    }
    html{
    font-family: "inter",san-serif;
    font-size: var(--fs-base);
    line-height: 1,8;
    
    }
    :focus{
    
    outline-offset:4px ;
    
    
    }
    ::-webkit-scrollbar-thumb{
    
        background: var(--accent);
        border-radius:20px;
        border: 4px solid;
    }
    .light-theme::-webkit-scrollbar-thumb{
    
        border-color: hsl(0,0%,90%);
    }
    .dark-them::-webkit-scrollbar-corner{
        
       border-color: hsl(219,27%,20%);
    }
    .light-theme::-webkit-scrollbar-thumb{
        background: hsl(0,0%,90%);
    }
    .dark-theme::-webkit-scrollbar-thumb{
        background: hsl(219,27%,20%);
    }
    .h1,.h2,.h3,.h4{
    
    display: block;
    color: var(--background-primary);
    
    }
    .h1{
    font-size: var(--fs-1);
    font-weight: 900;
    }
    .h2{
    font-size: var(--fs-2);
    font-weight: 700;
    }
    .h3{
    font-size: var(--fs-3);
    font-weight: 700;
    }
    .h4{
     font-size: var(--fs-4);
    font-weight: 700;
    }
    .text-sm{
    font-size: var(--fs-4);
    
    }
    .text-tiny{
        font-size: var(--fs-5);
    }
    .container{
        padding: 0 15px;
        margin-inline: auto;
        margin: auto;
    }
    .btn{

        min-width: 10rem;
        border-radius: 100px;
        text-align: center;
    }
    .btn-primary{
       background-color: rgb(34, 34, 210);
       color: azure;
       padding: 0.6rem 1.2rem;
       transition: all 0.2s;

       
    }
    

    .btn-primary:hover{
        background-color: rgb(169, 169, 191);
        color: azure;
        padding: 0.6rem 1.2rem;
        transition: all 0.5s;
    }
    .btn-secendery{
        background-color: rgb(0, 0, 0);
        color: beige;
        padding: 0.6rem 1.2rem;
        border: 3px solid var(--foregrounde-tertiary);
    }
    .btn-secendery:hover{
        background-color: rgb(169, 169, 191);
        color: azure;
        padding: 0.6rem 1.2rem;
        border-color: beige;
        transition: all 0.5s;
    }
    .dark-theme.btn-primary:hover{
        color: var( --background-primary);
    }
    .dark-theme.blog-topic{
        background: var(--action-primary);
        color: var( --foregrounde-secendery);
    }
    .dark-theme.blog-topic:hover{
        background: var(--action-primary);
        color: var( --foregrounde-secendery);
    }
    .dark-theme.load-more:hover{
        color:var(--white);
    }
    .dark-theme.aside.h2{
        color: var(--foregrounde-primary);
    }








    header{
        background: var(--background-primary);
    }
    header .flex-wrapper {
        display: none;

    }
    .logo{
        font-weight: 400;
        font-size:1.5rem ;

    }
    .logo span{

        color: rgb(25, 5, 43);
    }
    header btn-group{
        display:flex;
        align-items: center;
        gap: 15px;
        

    }
    .theme-btn-mobile,
    .nav-menu-btn,
    .nav-close-btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 25px;
    transition: all 0.2s ease-in;
    float: right;
    }
    :is(.theme-btn-mobile,.nav-menu-btn,.nav-close-btn):hover{
        background-color: rgb(33, 47, 101);
        color: aqua;

    }
    .theme-btn-mobile ion-icon{
        display: none;
        float: right;
    }

    .theme-btn-mobile.light .sun,
    .theme-btn-mobile.dark .moon{
        display: block;
    }
    
    .mobile-nav{

        position: fixed;
        inset: 0;
        background-color: rgb(233, 236, 239);
        padding: 70px 20px;
        overflow: auto;
        overscroll-behavior: contain;
       /* transform: translateX(100%);*/
        visibility: hidden;
        transition:0.5s cubic-bezier(1,0,0.7,0.3);
        z-index: 10;

    }
    .mobile-nav.active {

        transform: translate(3);
        visibility: visible;
    }
    .nav-close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .mobile-nav .wrapper {
        padding-bottom:1.25rem ;
        margin-bottom: 1.25rem;
        border-bottom:2px solid currentColor black ;

    } 
    .mobile-nav .nav-tittle {

       margin-bottom: 1rem; 
    }
    .mobile-nav .nav-item {
        margin-bottom: 0.5rem;
    }
    .mobile-nav .nav-link {
        font-size: var(--fs-3);
        color: rgb(82, 84, 87);
        transition: all 0.2s;
    }
    .mobile-nav .nav-link:hover {
        color:blue ;
    }
    .hero {
    
       background: var(--background-primary);
       padding-top: 2rem;
       padding-bottom: var(--py);
       text-align: center;

    }
    .hero .h6 {
      margin-bottom: 1rem;
      line-height: 1.6;


    }
    .hero b {
   
     color: var(--accent);
     font-weight: inherit;



    }
    .hero .h3 {


        color: var(--foregrounde-secendery);
        margin-bottom: 2rem;
    }
    .hero .btn-groupe {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px; 
    }
    .hero .right {

        display: none;
    }
    .main {

        background-color: azure;
        padding: var(--py) 0;
        
    }
    .blog .h2 {
       
    line-height: 1.3;
    margin-bottom: 3rem;  
    text-align: center;  
    

    }
    .blog-card-groupe {

        margin-bottom: 3rem;
    }
    .blog-card{
     background-color: azure;
     padding: 10px;
     margin-bottom: 1rem;
     border-radius: 10px;
     box-shadow: 0 10px hsla(0, 0% ,0%, 0.05);
     transition: 0.2s ease;
    }
    .blog-card:hover {
        transform: translateY(-3px);
        box-shadow:0 10px 10px hsla(0, 0% ,0%, 0.1) ;
    }
    .blo-card-banner img{
        width: 100%;
    }
    .blog-card-wrrper {
        padding: 10px 5px;
    } 
    .blog-topic {

    background-color: rgb(169, 205, 238);
    color:  rgb(8, 9, 10);
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 5px ;
    margin-bottom: 1rem;
    transition: 0.5s;
    transition: all 0.2s;

    }
    .blog-topic:hover {
        background-color: rgb(39, 29, 235) ;
        color: rgb(195, 200, 203);

    }
    .blog-card .h3 {
    line-height: 1.4;
    margin-bottom: 1rem;
    transition: all 0.2s;
    }
    .blog-card .h3:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
    .blog-text,
    .profile-wrapper {
        display: none;

    }
    .blog .wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        
    }
    .blog .h4 {
        color:var(--foregrounde-secendery);
        transition: all0 0.2s;
    }
    .blog .h4:hover {
        color: blue;
    }
    .blog .text-sm {

        display: flex;
        text-align: center;
        gap: 5px;
        color:  rgb(119, 160, 220);
    }
    .blog .separator {
        background-color: blue;
        margin-inline: 3px;
        margin: 0 3px;
        height: 3px;
        border-radius: 3px;
        
    }
    


    


    
    
 




    
    


    
